[Unit]
Description=Pacemaker LanceDB reconciliation schedule
[Timer]
OnBootSec=10m
OnUnitActiveSec={{ lancedb_reconciliation_interval }}
Persistent=true
Unit=lancedb-nfs-reconciliation.service
[Install]
WantedBy=timers.target
