[Unit]
Description=Pacemaker LanceDB Queue controller
After=network-online.target lancedb-nfs-ingestion-worker.service
[Service]
Type=simple
User=opc
Group=opc
WorkingDirectory=/opt/oci-lancedb-hybrid
EnvironmentFile=/etc/lancedb-nfs/lancedb.env
ExecStart=/opt/oci-lancedb-hybrid/.venv/bin/oci-lancedb-ingestion-controller
Restart=no
