LANCEDB_URI={{ lancedb_nfs_database_path }}
LANCEDB_TABLE={{ lancedb_nfs_table_name }}
LANCEDB_VECTOR_DIMENSIONS={{ lancedb_nfs_vector_dimensions }}
OCI_AUTH=instance_principal
OCI_BUCKET={{ lancedb_oci_bucket }}
LANCEDB_INGESTION_BIND_HOST=127.0.0.1
LANCEDB_INGESTION_WORKER_PORT=8090
LANCEDB_INGESTION_QUEUE_ID={{ lancedb_ingestion_queue_id }}
LANCEDB_INGESTION_QUEUE_ENDPOINT={{ lancedb_ingestion_queue_endpoint }}
LANCEDB_SOURCE_ROUTES_PATH=/etc/lancedb-nfs/source-routes.json
LANCEDB_INGESTION_WORKER_ENDPOINTS=["http://127.0.0.1:8090"]
